<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Message Envoyé avec Succès</title>
    <!-- Ajout du lien vers la feuille de style index.css -->
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
</head>
<body>
    <h1>Message Envoyé avec Succès!</h1>
    <p>Votre message a été enregistré avec succès.</p>
    <a href="{{ path('app_message') }}">Retour à la page de demande d'aide</a>
</body>
</html>
