<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Service Enregistré</title>
        <link rel="stylesheet" href="{{ asset('css/index.css') }}">

</head>
<body>
    <header>
        <h1>Service Enregistré</h1>
    </header>

    <main>
        <p>Le service a été enregistré avec succès !</p>
        <a href="{{ path('app_service') }}">Retour</a>
    </main>

    <footer>
        <p>&copy; {{ 'now'|date('Y') }} Gestion des Services pour Personnes Handicapées</p>
    </footer>
</body>
</html>
