{# templates/utulisateur.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <p>This is the path to your controller: {{ path }}</p>
</body>
</html>
